.customer-details-headers {
  font-weight: bold !important;
}

.customer-details-Address {
  width: 350px;
}

.CustomerDetailsTableRow:hover {
  background-color: #f2f2f2;
  /* Light grey background */
}